<!-- menu-size will be the dimension of your menu. If you set it to smaller than your content it will scroll-->
<div class="menu-size" style="height:370px;">
    <div class="d-flex mx-3 mt-3 py-1">
        <div class="align-self-center">
            <h1 class="mb-0">سحب رصيد</h1>
        </div>
        <div class="align-self-center ms-auto">
            <a href="#" class="ps-4 shadow-0 me-n2" data-bs-dismiss="offcanvas">
                <i class="bi bi-x color-red-dark font-26 line-height-xl"></i>
            </a>
        </div>
    </div>
    <div class="divider divider-margins mt-3"></div>
    <div class="content mt-0">
        <div class="form-custom form-label form-icon">
            <i class="bi bi-person-circle font-14"></i>
            <input type="email" class="form-control rounded-xs" id="c32" placeholder="الرجاء ادخال عنوان السحب" />
            <label for="c32" class="form-label-always-active color-highlight font-11">محفظة</label>
            <span class="font-10">(اجباري)</span>
        </div>
        <div class="pb-3"></div>
        <div class="form-custom form-label form-icon">
            <i class="bi bi-code-square font-14"></i>
            <input type="number" class="form-control rounded-xs" id="c43" placeholder="15.00"/>
            <label for="c43" class="form-label-always-active color-highlight font-11">الملغ</label>
            <span class="font-10">( Currency: USDT )</span>
        </div>
        <div class="pb-2"></div>
        <div class="form-check form-check-custom">
            <input class="form-check-input" type="checkbox" name="type" value="" id="c2a">
            <label class="form-check-label" for="c2a">الحد الادنى للسحب 15 USDT <a href="#">رصيدك غير كافي</a></label>
        </div>
    </div>
    <a href="#" data-bs-dismiss="offcanvas" class="mx-3 btn btn-full gradient-blue shadow-bg shadow-bg-s">سحب فوري</a>
</div>
