{% extends './base.html' %}
{% block content %}
{% load static %}
<!-- Page Wrapper-->
<div id="page">

    <!-- Footer Bar -->
    <div id="footer-bar" class="footer-bar-1 footer-bar-detached">
        <a href="page-wallet.html"><i class="bi bi-wallet2"></i><span>المحفظة</span></a>
        <a href="page-activity.html"><i class="bi bi-graph-up"></i><span>الانشطة</span></a>
        <a href="index.html" class="circle-nav-2"><i class="bi bi-house-fill"></i><span>الرئيسية</span></a>
        <a href="page-payments.html" class="active-nav"><i class="bi bi-receipt"></i><span>المدفوعات</span></a>
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-sidebar"><i class="bi bi-three-dots"></i><span>المزيد</span></a>
    </div>

    <!-- Page Content - Only Page Elements Here-->
    <div class="page-content footer-clear">

        <!-- Page Title-->
        <div class="pt-3">
            <div class="page-title d-flex">
                <div class="align-self-center me-auto">
                    <p class="color-highlight">رصيدك الحالي</p>
                    <h1 class="color-theme">10.00 USDT</h1>
                </div>
                <div class="align-self-center ms-auto">
                    <a href="#"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#menu-notifications"
                    class="icon gradient-blue color-white shadow-bg shadow-bg-xs rounded-m">
                        <i class="bi bi-bell-fill font-17"></i>
                        <em class="badge bg-red-dark color-white scale-box">1</em>
                    </a>
                    <a href="#"
                    data-bs-toggle="dropdown"
                    class="icon gradient-blue shadow-bg shadow-bg-s rounded-m">
                        <img src="{% static "PayApp/images/pictures/25s.jpg" %}" width="45" class="rounded-m" alt="img">
                    </a>
                    <!-- Page Title Dropdown Menu-->
                    <div class="dropdown-menu">
                        <div class="card card-style shadow-m mt-1 me-1">
                            <div class="list-group list-custom list-group-s list-group-flush rounded-xs px-3 py-1">
                                <a href="#" class="list-group-item">
                                    <i class="has-bg gradient-green shadow-bg shadow-bg-xs color-white rounded-xs bi bi-credit-card"></i>
                                    <strong class="font-13">المحفظة</strong>
                                </a>
                                <a href="page-activity.html" class="list-group-item">
                                    <i class="has-bg gradient-blue shadow-bg shadow-bg-xs color-white rounded-xs bi bi-graph-up"></i>
                                    <strong class="font-13">الانشطة</strong>
                                </a>
                                <a href="page-profile.html" class="list-group-item">
                                    <i class="has-bg gradient-yellow shadow-bg shadow-bg-xs color-white rounded-xs bi bi-person-circle"></i>
                                    <strong class="font-13">الحساب</strong>
                                </a>
                                <a href="{% url 'logout' %}" class="list-group-item">
                                    <i class="has-bg gradient-red shadow-bg shadow-bg-xs color-white rounded-xs bi bi-power"></i>
                                    <strong class="font-13">تسجيل الخروج</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-6 mb-n2">
                <a href="#" class="card card-style me-0" style="height:180px">
                    <div class="card-center">
                        <span class="icon icon-xl rounded-m gradient-green shadow-bg shadow-bg-xs"><i class="bi bi-arrow-clockwise font-24 color-white"></i></span>
                        <h1 class="font-22 pt-3">التحويلات</h1>
                    </div>
                    <div class="card-bottom">
                        <p class="font-11 mb-0 opacity-70">Convert Currency</p>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-n2">
                <a href="#" class="card card-style ms-0" style="height:180px">
                    <div class="card-center">
                        <span class="icon icon-xl rounded-m gradient-orange shadow-bg shadow-bg-xs"><i class="bi bi-receipt font-24 color-white"></i></span>
                        <h1 class="font-22 pt-3">الفواتير و العقود</h1>
                    </div>
                    <div class="card-bottom">
                        <p class="font-11 mb-0 opacity-70">Bills and Invoices</p>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-n2">
                <a href="#" class="card card-style me-0" style="height:180px">
                    <div class="card-center">
                        <span class="icon icon-xl rounded-m gradient-yellow shadow-bg shadow-bg-xs"><i class="bi bi-arrow-down-circle font-24 color-white"></i></span>
                        <h1 class="font-22 pt-3">عمليات السحب</h1>
                    </div>
                    <div class="card-bottom">
                        <p class="font-11 mb-0 opacity-70">Request or Deposit</p>
                    </div>
                </a>
            </div>
            <div class="col-6 mb-n2">
                <a href="#" class="card card-style ms-0" style="height:180px">
                    <div class="card-center">
                        <span class="icon icon-xl rounded-m gradient-blue shadow-bg shadow-bg-xs"><i class="bi bi-arrow-up-circle font-24 color-white"></i></span>
                        <h1 class="font-22 pt-3">عمليات الشحن</h1>
                    </div>
                    <div class="card-bottom">
                        <p class="font-11 mb-0 opacity-70">Move and Send</p>
                    </div>
                </a>
            </div>

            <div class="col-12 mb-n2 text-start">
                <a href="#" class="default-link card card-style" style="height:90px">
                    <div class="card-center px-4">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <span class="icon icon-m rounded-s gradient-brown shadow-bg shadow-bg-xs"><i class="bi bi-bar-chart font-20 color-white"></i></span>
                            </div>
                            <div class="align-self-center ps-3 ms-1">
                                <h1 class="font-20 mb-n1">تقارير الاستثمار</h1>
                                <p class="mb-0 font-12 opacity-70">See your Payment Statistics.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    </div>
    <!-- End of Page Content-->

    <!-- Off Canvas and Menu Elements-->
    <!-- Always outside the Page Content-->

    <!-- Main Sidebar Menu -->
    <div id="menu-sidebar"
        data-menu-active="nav-pages"
        data-menu-load="menu-sidebar.html"
        class="offcanvas offcanvas-start offcanvas-detached rounded-m">
    </div>

	<!-- Highlights Menu -->
	<div id="menu-highlights"
		data-menu-load="menu-highlights.html"
		class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
	</div>

    <!-- Notifications Bell -->
    <div id="menu-notifications" data-menu-load="menu-notifications.html"
        class="offcanvas offcanvas-top offcanvas-detached rounded-m">
    </div>


</div>
<!-- End of Page ID-->

{% endblock %}